<div>
  <p class="text-center text-4xl font-bold"><%= title %></p>
  <div class="mt-4 flex justify-between items-center">
    <div>
      <% if(back.present) { %>
        <a class="blue-btn" href="<%= back.url %>"><i class="bi bi-chevron-left pr-3"></i><%= back.name %></a>
      <% } %>
    </div>
    <div class="transition ease-linear delay-150 flex justify-between items-center gap-2 border border-white rounded-lg p-2 hover:text-black hover:bg-white">
      <p class="pr-2"><i class="bi bi-person-circle pr-2"></i><%= user.firstName + " " + user.lastName %></p>
      <a class="red-btn" href="/signout"><i class="bi bi-door-closed-fill pr-2"></i>Sign out</a>
    </div>
  </div>
</div>
