<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Online Voting Platform</title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body class="bg-black grid place-items-center h-screen text-center">
    <div>
      <div class="my-8">
        <p
          class="bg-gradient-to-r from-purple-600 to-pink-600 text-6xl font-extrabold bg-clip-text text-transparent pb-2"
        >
          Online voting platform
        </p>
        <p class="text-gray-400 text-2xl">
          One stop place for all your elections
        </p>
      </div>
      <div class="grid grid-cols-2 gap-6">
        <div>
          <div class="text-white my-2 text-xl font-semibold">New user?</div>
          <a href="/signup">
            <div
              class="transition ease-linear delay-150 font-sans text-lg rounded border border-gray-300/50 p-2 text-white hover:bg-white hover:text-black shadow-xl shadow-white/20"
            >
              Sign Up
            </div>
          </a>
        </div>
        <div>
          <div class="text-white my-2 text-xl font-semibold">
            Existing user?
          </div>
          <a href="/login">
            <div
              class="transition ease-linear delay-150 font-sans text-lg rounded border border-gray-300/50 p-2 text-white hover:bg-white hover:text-black shadow-xl shadow-white/20"
            >
              Sign In
            </div>
          </a>
        </div>
      </div>
    </div>
  </body>
</html>
